.user{
    text-align: center;
    color: brown;
    font-weight: 800;
    
}

.input{
    margin-left: 50px;
    margin-right: 10px;
}

.table-outline {    
    margin-left: 10%;
    border: solid 1px;
    height: 300px;
    width: 70%;
}
.table-head{
    border: solid 1px;
    padding: auto;
    height: 10px    ;
}
.table-body{
    border: solid 1px;
    width: 10px;
}

.table-data{
    height: 20px;
}